{{> header}}

		<h1 class="p-category"><span class="p-cat-icon {{icon}}"></span> <span class="cat-name">{{category}}</span></h1>
		<span class="is-multipage" style="display:none">{{multipage}}</span>
		<div class="row">
			<ul id="places">
			{{#each places.[0]}}
				<li class="place">
					<a class="next" href="/places/{{../category}}/{{@index}}">GO</a>
					<div class="name">
						<a class="open-down icon-uniF48B"></a>
						<div class="title">{{place}}</div>
						<!--<div class="info">{{direction}} {{distance}} mi</div>-->
						<div class="info" id="info-{{uid}}">
							<script> setDirectionAndDistanceTo("{{address}}", "info-{{uid}}"); </script>
						</div>
					</div>
					<div class="more-info">
						<div class="rating">{{rating}}</div>
						<div class="hours">Today's hours: {{hours.friday.[0]}} - {{hours.friday.[1]}}</div>
						<div class="site"><a href="{{site}}">{{site}}</a></div>
						<div class="payment">
							{{#if payment}}
								Accepts credit cards
							{{else}}
								Cash only
							{{/if}}
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
		<div class="more">
			<a href="#" class="btn btn-more btn-lg btn-block">more</a>
		</div>
		</div>
	</div>

{{> footer}}