{{> header}}

	<div class="store-image">
		<img src="/images/stores/{{place}}.jpg" class="img-responsive">
	</div>

	<div id="place-info" class="row">
		<div class="col-md-12 col-xs-12">
		<h1 id="place-name">
			{{place}}
		</h1>
		<div style="display:none" class="uid">{{uid}}</div>
		<div class="rating">{{rating}}</div>
		<div class="site"><a href="http://{{site}}">{{site}}</a></div>
		<div class="payment">
			{{#if payment}}
				Accepts credit cards
			{{else}}
				Cash only
			{{/if}}
		</div>
		<div class="hours" id="store-hrs">
			{{json}}
		</div>
		
	</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12 text-right">
			<a href="/places/{{category}}/{{uid}}/directions" class="btn btn-more dir-link">directions <span class="icon-uniF488"></span></a>
		</div>
	</div>

	
	<div id="map-pane" class="row">
		<!-- <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=800x400&markers=color:blue%7C{{address}}&sensor=true" class="img-responsive"> -->
		<img src="/images/maps/{{uid}}.png">
	</div>
	

	

{{> footer}}