{{> header}}

	<div class="store-image">
		<img src="/images/stores/{{place}}.jpg" class="img-responsive">
	</div>

	<script>
		google.maps.event.addDomListener(window, 'load', function() {
			setDisplayTo("{{address}}", 'map-panel');
		});
	</script>

	<div id="place-info" class="row">
		<div class="col-md-12 col-xs-12">
		<h1 id="place-name">
			{{place}}
		</h1>
		<div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half"></span></div>
		<div class="hours">Today's hours: {{hours.friday.[0]}} - {{hours.friday.[1]}}</div>
		<div class="site"><a href="{{site}}">{{site}}</a></div>
		<div class="payment">
			{{#if payment}}
				Accepts credit cards
			{{else}}
				Cash only
			{{/if}}
		</div>
	</div>
	</div>

	<div id="map-panel" class="row pm"></div>

	<div class="row">
		<div class="col-md-12 col-xs-12 text-right">
			<a href="/places/{{category}}/{{id}}/directions">&gt; directions</a>
		</div>
	</div>

{{> footer}}